@{
  Layout = "_Layout";
}
@Html.ActionLink("Register", "Register", "Account") | @Html.ActionLink("Log in", "Log in", "Account")

<form action="/Home/Details" method="post">
  <label for="search">Search</label>
  <input type="text" id="search" name="search">
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>

<h1>Welcome to the Recipe Box!</h1>



@* Option 1: <form action="/Home/Details" method="post">
   Option 2: <form asp-controller="Home" asp-action="Details" method="post">*@




<button type="button" class="btn btn-light">@Html.ActionLink("Enter", "Index", "Account")</button>